/* Estilo do conteúdo do dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white !important; /* Cor de fundo branca */
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 8px;
    border-radius: 3%;
    right: 0; /* Alinha o submenu à direita */
}

    /* Estilo dos links dentro do dropdown */
    .dropdown-content a {
        color: black;
        padding: 18px;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 1px;
        border-radius: 3%;
    }

        /* Efeito hover nos links do dropdown (letra e borda rosa) */
        .dropdown-content a:hover {
            color: #F08AB7; /* Cor da letra rosa */
            background-color: #ddd; /* Cor de fundo ao passar o mouse */
            border: 2px solid #F08AB7; /* Borda rosa */
            border-radius: 3%;
        }

/* Mostrar dropdown ao passar o mouse sobre o elemento .dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}
